
/* sub2.css */

/* container */

/* spot */
.spot {background: url(../images/careers_visual_img.jpg) no-repeat 50% 0;color: #fff;}
.spot_inner > h2 {margin-bottom: 10px;font-size: 50px;}
.spot_inner > p {font-size: 16px;color: #eee;}
.spot_inner > p.path {padding-top: 90px; text-align: right;font-size: 14px;color: #ccc;}
/* content */
p.info_txt {text-align: right;margin-bottom: 10px;}
table.job {width: 100%;margin-bottom: 60px;}
.job thead th {
    height: 60px;border: 1px solid #ccc;border-top: 1px solid #000; 
    background: #f3f3f3; text-align: center;font-size: 18px;
}
.job thead th:first-of-type {width: 120px;border-left: none;}
.job thead th:nth-of-type(2) {width: 640px;} 
.job thead th:last-child {width: 380px;border-right: none;}       
.job tbody td {height: 60px;border: 1px solid #ccc;text-align:center;border-top: none;font-size: 16px;}
.job tbody td:first-of-type {border-left: none;}
.job tbody td:last-child {border-right: none;}
.job tbody tr:last-child td {border-bottom: 1px solid #000;}

div.faq {width: 100%;border: 1px solid #ccc; padding: 20px 30px; box-sizing: border-box;}
div.faq::after {content: '';display: block;clear: both;}
div.faq >p {float: left; font-size: 16px;line-height: 45px;}
div.faq >a {
    float: right; display: block;width: 160px;height: 45px; 
    background: #043285 url(../images/icon_btn_arrow_w1.png) no-repeat 90% 50%;
    color: #fff; font-size: 16px;text-align: center; line-height: 45px;
}
